.AcademyPresent {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex: 1;

  ._middleWrapper {
    ._buttonsWrapper {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      padding: 0 0 0.75rem 0;
    }
  }

  ._academyPresent_tooltipTags {
    position: absolute;
    z-index: 5;
    bottom: 6rem;
    right: 4rem;
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
    ._middleWrapper {
      ._buttonsWrapper {
        padding: 0 1rem 0.75rem 1rem;
      }
    }
  }
}
