.AcademyPresent {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex: 1;

  ._buttonsWrapper {
    display: flex;
    flex-direction: row;
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}
