.MainFrame {
  display: flex;
  flex-direction: column;
  flex: 1;

  .__middle {
    display: flex;
    padding: 0.7rem 0 0 0;

    ._left {
      display: flex;
      flex: 1;
    }
    ._main {
      display: flex;
      flex: 6;
      ._wrapper {
        flex: 1;
      }
    }
    ._right {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
  .__comments {
    ._in {
    }
  }
}
