.ModulesBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  ._h2 {
    display: flex;
    align-self: flex-start;
    text-transform: capitalize;
    padding-bottom: 1rem;
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}

.ModulesBody_AcademyMatrixBody {
  gap: 1rem;

  ._headlineNavLink {
    ._h2 {
      display: flex;
      align-self: flex-start;
      text-transform: capitalize;
      padding-bottom: 0;
    }
  }
}
