.Button {
  display: flex;
  &__button {
    background-color: @colorSecondLighter3;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    margin: 0;
    padding: 0;
    border: none;
    &:active,
    &:focus {
      color: @colorFirstDarker2;
      border-color: @colorActive;
      outline: none;
      text-size-adjust: 100%;
    }
    &_in {
      color: @colorFirstDarker2;
    }
  }
}

.Button_MdClose {
  flex: 1;
  padding: 0 0 0 0;
  align-items: center;
  &__button {
    flex: 1;
    height: 2rem;
    background-color: @colorSecondLighter3;

    &:active,
    &:focus {
    }

    &_in {
      height: 1.5rem;
      width: 1.5rem;
      color: @colorSecondLighter4;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }
}

.Button_sideMenuItems {
  &__button {
    background-color: @colorSecond;

    &:active,
    &:focus {
    }

    &_in {
      display: flex;
      position: relative;
      height: 2.2rem;
      padding-top: 4px;
      cursor: pointer;
      font-size: @fontSize;
      color: @colorFirstDarker2;
      background-color: @colorSecond;
    }
  }
}

.Button_MdBackward2 {
  flex: 1;
  padding: 0 0 0 0;
  align-items: center;
  &__button {
    flex: 1;
    height: 2.5rem;
    background-color: @colorSecondLighter2;

    &:active,
    &:focus {
    }

    &_in {
      height: 1.5rem;
      width: 1.5rem;
      color: @colorSecondLighter4;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }
}

.Button_MdForward2 {
  flex: 1;
  padding: 0 0 0 0;
  align-items: center;
  &__button {
    flex: 1;
    height: 2.5rem;
    background-color: @colorActive;

    &:active,
    &:focus {
    }

    &_in {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.Button_sideMenuItems {
  &__button {
    background-color: @colorSecond;

    &:active,
    &:focus {
    }

    &_in {
      display: flex;
      position: relative;
      height: 2.2rem;
      padding-top: 4px;
      cursor: pointer;
      font-size: @fontSize;
      color: @colorFirstDarker2;
      background-color: @colorSecond;
    }
  }
}

.Button_MdForward {
  padding: 0 0 0 0;
  align-items: center;
  flex: 1;
  &__button {
    flex: 1;
    height: 2.5rem;
    color: @colorFirstDarker2;
    background-color: @colorActive;
    &:active,
    &:focus {
    }

    &_in {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.Button_MdPlayArrow {
  padding-right: 1.4em;
  align-items: center;
  &__button {
    width: 4rem;
    height: 2rem;
    &:active,
    &:focus {
    }

    &_in {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.Button_MdPause {
  padding-right: 1.4em;
  align-items: center;
  &__button {
    width: 4rem;
    height: 2rem;
    &:active,
    &:focus {
    }

    &_in {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.Button_MdRemoveCircle {
  padding-right: 1.4em;
  align-items: center;
  &__button {
    width: 4rem;
    height: 2rem;
    &:active,
    &:focus {
    }

    &_in {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.Button_MdMenu {
  padding-right: 1.4em;
  align-items: center;
  &__button {
    &:active,
    &:focus {
    }

    &_in {
      height: 1.5rem;
      width: 1.5rem;
      color: @colorFirstDarker;
      background-color: @colorSecond;
    }
  }
}

.Button_MdPerson {
  &__button {
    &:active,
    &:focus {
    }

    &_in {
      width: 1.8rem;
      height: 1.8rem;
      color: @colorSecondLighter4;
      background-color: @colorSecond;
    }
  }
}

.Button_MdSearch {
  &__button {
    width: 4.5rem;
    &:active,
    &:focus {
    }
    &_in {
      width: 1.3rem;
      height: 1.3rem;
      color: @colorSecondLighter4;
    }
  }
}
