.Button {
  display: flex;
  &__button {
    background-color: @colorSecondLighter3;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    margin: 0;
    padding: 0;
    border: none;
    &:active,
    &:focus {
      color: @colorFirstDarker2;
      border-color: @colorActive;
      outline: none;
      text-size-adjust: 100%;
    }
    &_icon {
      color: @colorFirstDarker2;
    }
  }
}

.Button_MdForward {
  padding-right: 1.4em;
  align-items: center;
  &__button {
    width: 4rem;
    height: 2rem;
    &:active,
    &:focus {
    }

    &_icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.Button_MdPlayArrow {
  padding-right: 1.4em;
  align-items: center;
  &__button {
    width: 4rem;
    height: 2rem;
    &:active,
    &:focus {
    }

    &_icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.Button_MdPause {
  padding-right: 1.4em;
  align-items: center;
  &__button {
    width: 4rem;
    height: 2rem;
    &:active,
    &:focus {
    }

    &_icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.Button_MdRemoveCircle {
  padding-right: 1.4em;
  align-items: center;
  &__button {
    width: 4rem;
    height: 2rem;
    &:active,
    &:focus {
    }

    &_icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.Button_MdMenu {
  padding-right: 1.4em;
  align-items: center;
  &__button {
    &:active,
    &:focus {
    }

    &_icon {
      height: 1.5rem;
      width: 1.5rem;
      background-color: @colorSecond;
    }
  }
}

.Button_MdPerson {
  &__button {
    &:active,
    &:focus {
    }

    &_icon {
      width: 1.8rem;
      height: 1.8rem;
      color: @colorSecondLighter4;
      background-color: @colorSecond;
    }
  }
}

.Button_MdSearch {
  &__button {
    width: 4.5rem;
    &:active,
    &:focus {
    }
    &_icon {
      width: 1.3rem;
      height: 1.3rem;
      color: @colorSecondLighter4;
    }
  }
}
