.Header {
  display: flex;
  flex-direction: row;
  padding: 0.8em 1.5rem;
  text-align: center;
  background-color: @colorSecond;

  &__left {
    display: flex;
    flex: 1;
  }

  &__main {
    display: flex;
    flex: 6;
    justify-content: center;
    &_search {
      display: flex;
      width: 100%;
      padding: 0 10rem 0 10rem;
      &_div1 {
        display: flex;
        width: 100%;
      }
    }
  }
  &__right {
    display: flex;
    flex: 3;
    justify-content: flex-end;
  }
}
