.IconReact {
  ._in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    ._capture_left {
      padding: 0 0.3rem 0 0;
    }
    ._icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}
