.IconReact {
  ._in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    ._capture_left {
      padding: 0 0.3rem 0 0;
    }
    ._icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}

.IconReact_ArrowRight {
  display: flex;
  align-items: center;
  height: 100%;

  ._icon {
    height: 5rem;
    width: 5rem;
  }
}

.IconReact_Button_CategoryCatalog {
  display: flex;
}

.IconReact_Button_сontinueIntroSep {
  display: flex;
  padding: 0 1rem 0 0;
}

.IconReact_AiOutlineQuestionCircle {
  display: flex;
  padding: 0.3rem 0 0 0;
}

.IconReact_MdLanguage {
  display: flex;
  padding: 0.2rem 0 0 0;
}

.IconReact_IoChatbubblesOutline {
  display: flex;
  padding: 0.2rem 0 0 0;
}

.IconReact_BiSelectMultiple {
  display: flex;
  padding: 0.3rem 0 0 0;
}
