.ProfileBody {
  display: flex;
  flex-direction: column;

  ._row {
    display: flex;
    flex-direction: row;
    padding: 0 0 1rem 0;

    ._title {
      display: flex;
      margin: 0 50%;
      font-size: @fontSizeH2;
      padding: 2rem 0 1.5rem 0;
    }

    ._col_1 {
      display: flex;
      flex: 1;
      padding: 0 0 0.2rem 0;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}
