.ProfilePlate {
  display: flex;

  ._userAvatar {
    display: flex;
  }

  ._userNameNick {
    display: flex;
  }

  ._userSkillsExpertise {
    display: flex;
  }

  ._userLanguages {
    display: flex;
  }

  ._userLocaleCountry {
    display: flex;
  }

  ._userInfoAbout {
    display: flex;
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}
