.SearchGroupSep {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  .__titleScreen {
    display: flex;
    justify-content: center;
    font-size: @fontSizeH2;
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
    padding: 1rem;
  }
  @media @phone, @phone-strict {
    padding: 1rem;
  }
}
