.SkillExchangeIntro {
  display: flex;
  flex-direction: column;

  .__title01 {
    display: flex;
    justify-content: center;
    font-size: @fontSizeH1;
  }

  ._mobileBreak {
    display: none;
  }

  .__title02 {
    display: flex;
    justify-content: center;
    font-size: @fontSizeS;
    font-weight: bold;
    margin: 0;
  }

  ._button {
    display: flex;
    padding: 0 0 2rem 0;
  }

  .__textBlock {
    display: flex;
    flex-direction: column;
    padding: 0rem 5rem;

    ._row {
      display: flex;
      flex-direction: row;
      padding: 2rem 0;
    }

    ._col {
      display: flex;

      ._text {
        color: white;
        padding: 1rem 2rem;
        text-align: center;
      }
    }
    ._col:empty {
      padding: 0px;
    }

    ._text {
      display: flex;
      text-align: left;
      padding: 0.3rem 0;
    }

    ._textAcademy {
      ._text;
      padding: 2rem 1rem 1rem 1rem;
    }

    ._listActions {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin: 0;
      padding: 0.3rem 10%;
      list-style: none;

      ._action {
        display: flex;

        // &:before {
        //   content: '✓ ';
        // }

        &:nth-child(2) {
          padding: 0 0 0 5%;
        }

        &:nth-child(3) {
          padding: 0 0 0 10%;
        }

        &:nth-child(4) {
          padding: 0 0 0 15%;
        }

        ._textLi {
          padding: 0 0 0 0.5rem;
        }
      }
    }
  }

  ._bg_color_1 {
    background-color: red;
  }

  ._bg_color_2 {
    background-color: blueviolet;
  }

  ._bg_color_3 {
    background-color: yellowgreen;
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
    ._mobileBreak {
      display: flex;
    }

    .__textBlock {
      padding: 0rem 0rem;

      ._row {
        display: flex;
        flex-direction: column;
      }

      ._text {
        padding: 0.3rem 1rem;
      }
    }
  }
}
