.SkillExchangeIntro {
  display: flex;
  flex-direction: column;

  .__title01 {
    display: flex;
    justify-content: center;
    font-size: @fontSizeH1;
  }

  .__title02 {
    display: flex;
    justify-content: center;
    font-size: @fontSizeH2;
  }

  .__textBlock {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;

    ._text {
      display: flex;
      text-align: left;
      padding: 0.3rem 0;
    }

    ._listActions {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin: 0;
      padding: 0.3rem 10rem;

      ._action {
      }
    }
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}
