.AcademyMatrix {
  display: flex;
  &__plates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}

.AcademyMatrix .__middle > ._right {
  display: none;
}
