@import (less) './index.style.less';

@colorFirstDarker: #f1f1f1;
@colorFirst: #ffffff;

@colorSecondDacker: #181818;
@colorSecond: #202020;
@colorSecondLighter2: #323232;
@colorSecondLighter2: #373737;
@colorSecondLighter3: #6f6f6f;

@colorActive: #385eb6;

body {
  display: flex;
  color: @colorFirstDarker;
  background-color: @colorSecond;
}
