@import (less) './index.style.less';

@colorFirstDarker2: rgb(16, 16, 16); // rgba(255, 255, 255, 0.8);
@colorFirstDarker: rgb(24, 24, 24); // rgba(255, 255, 255, 0.9);
@colorFirst: rgb(32, 32, 32); // rgb(255, 255, 255);

@colorSecondDacker: rgba(255, 255, 255, 0.9); // rgb(24, 24, 24);
@colorSecond: rgb(255, 255, 255); // rgb(32, 32, 32);
@colorSecondLighter2: rgb(255, 255, 255); //rgb(50, 50, 50);
@colorSecondLighter3: rgb(55, 55, 55);
@colorSecondLighter4: rgb(111, 111, 111);

@colorActive: rgb(56, 94, 182);
@colorActiveDacker: rgb(22, 37, 61);
@colorBoxes: rgb(62, 166, 255);

body {
  display: flex;
  color: @colorFirstDarker;
  // background-color: @colorSecond;

  background: green;
}
