.TextStructured {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 4rem 0 6rem 0;

  ._h2 {
    font-size: @fontSizeH2;
  }

  ._captureTextWrapper {
    flex-direction: column;

    ._capture {
      padding: 1rem 0;
      font-size: @fontSizeH5;
    }

    ._text {
      padding: 0.5rem 0;
      line-height: 1.25;
    }
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}
