.TextStructuredColumns {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 6rem 0;

  ._buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  ._textStructuredWrapper {
    display: flex;
    flex-direction: row;

    article:nth-child(1):not(:only-child) {
      padding-right: 1rem;
    }

    article:nth-child(2) {
      padding-left: 1rem;
    }
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
    padding: 6rem 0 4rem 0;
  }
}
